@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-serif:
    Newsreader, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/Newsreader-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-main: #171717;
  --bg-main: #f2f1ec;
  --bg-muted: #eae9e1;
  --border-main: #171717;
}

html.dark {
  --text-main: #f2f1ec;
  --bg-main: #171717;
  --bg-muted: #242424;
  --border-main: #f2f1ec;
}

@theme inline {
  --text-color-main: var(--text-main);
  --background-color-main: var(--bg-main);
  --background-color-muted: var(--bg-muted);
  --border-color-main: var(--border-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-medium;
}

.prose :where(h1, h2, h3, h4, h5, h6) {
  @apply font-serif font-medium;
}
